<%- include("../partials/header") %>
<%- include("../partials/nav") %>

<main>
    <h2> <%= title %></h2>
    <p><%= error %></p>
    <p>
        <a href="/">&larr; Home</a> 
    </p>
</main>
<%- include("../partials/footer") %>